.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.outputField{
  width: 400px;
  height: 400px;
  text-align: center;
  font-size: 24px;
  border: 0px;
}

.inputField{
  width: 400px;
  height: 50px;
  text-align: center;
  font-size: 24px;
}

input[variety="colorInput"]{
  width: 25px;
}

.colorButtons{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 55px; /* space between columns, change as needed */
  grid-row-gap: 2px; /* space between rows, change as needed */
  width: 15vw;
  min-height: 5vh;
text-align: center;
}




